.jordanListLeft {
	display: inline-block;
}

.jordanListCenter {
	display: inline-block;
}

.jordanListRight {
	display: inline-block;
	margin-right: -200px;
}

.btn.btn-lg.btn-success {
	margin-right: -200px;
}

ul {
	list-style-type: none;
}

.SearchBar {
	padding-bottom: 15px;
	float: center;
}

.JordanSection {
	margin-left: 200px;
	margin-bottom: 20px;
	max-width: 1000px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
