<!doctype html>
<html ng-app="yeomanProjApp">
<link rel="stylesheet" type="text/css" href="styles/blog.css" />
	<div class="blogContainer">
		<img class="blogLogo" src="images/blog-title.png">

		<div class="postingOne">
			
			<h2>Racksburg Hackathon 0</h2>
			<p>June 27th, 2014</p>
			<p> Who doesn't love a good hackathon, or rather, who doesn't love a good learning opportunity? I saw this hackathon as the perfect time to divorce the other 
			programming projects in my life and focus on a project I've had in my head
			for some time now: my own personal portfolio.</p>

			<p>As the work day wound down I found myself doodling a rough sketch of how I wanted
			this new blog to look. I had already scaffolded my project out using yeoman (an
			excellent tool for creating off the ground angular.js projects) and began to dig
			through the seedling it had spawned. I was stunned at how easy it was to pull together
			the technologies needed to create and run a web application (grunt, bower, angular.js,
			node.js, bootstrap, you get the idea..). I was excited.</p>

			<p>I spent the first hour of the hackathon eating burgers and discussing project ideas with
			others in the office. The next hour was spent reading angular and bootstrap docs. I was soon ready to dive in. And dive in I did.</p>
		</div>	
</html>