<!doctype html>
<html ng-app="yeomanProjApp">
<link rel="stylesheet" type="text/css" href="styles/resume.css" />
	<div class="contact-Info">
		<div class="contact-Left">
			<p id="name">Seth Nute</p>
			<a href="mailto:you@yourdomain.com"><p id="email">sethnute@gmail.com</p></a>
		</div>	
		<div class="contact-Right">
			<p> (603)724-5455 </p>
			<p> 502 Hunt Club Rd Apt 107, Blacksburg, VA 24060 </p>
		</div>	
	</div>

	<div class="resume-Body">

		<div class="objectives">
			<h4>Objective</h4>
			<p>To work as a software engineer in an environment that is engaging, challenging, and fun.</p>
		</div>

		<div class="experience">
			<h4>Experience</h4>
			<p>QA Intern Qlikview (summer 2013)</p>
			<ul>
				<li>Designed testcases utilizing java, qlikscript, and SQL for a new addition to the Qlikview product.</li>
				<li>Worked closely with a QA team in an agile environment to ensure quality of the Qlikview product.</li>
			</ul>
			<p>Rackspace Intern (summer 2014)</p>
			<ul>
				<li>Worked on a front facing customer portal used for interacting with one of Rackspace's largest API's.</li>
				<li>Designed web components within an agile environment using popular javascript frameworks and django.</li>
			</ul>		
		</div>

		<div class="skills">	
			<h4>Skills</h4>
			<p>Programming Languages: Java, JavaScript, Python, C</p>
			<p>Markup Languages: HTML, CSS</p>
			<p>JS Frameworks: Knockout, node, Angular, Google Closure</p>
			<p>Other Frameworks: Django</p>
		</div>

		<div class="education">	
			<h4>Education</h4>
			<p>Working towards BS, CS, Virginia Tech</p>
			<ul>
				<li>Awarded CS scholarship for 2013-2014</li>
				<li>GPA: 3.4</li>
			</ul>
		</div>

	</div>
</html>